In [ ]:
import pandas as pd  # Pandas 라이브러리 불러오기

# 1. Titanic 데이터셋 불러오기 (파일 경로는 사용자 환경에 맞게 변경)
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SSAFY/data_analysis_hw_1_2/data/titanic.csv")  # CSV 파일명을 올바르게 입력하세요.

In [ ]:
# 2. Age 값에 따라 연령대(Age_Group) 컬럼 생성
# 먼저, 새로운 컬럼 'Age_Group'을 기본값 'Unknown'으로 설정 (결측치 포함)
df["Age_Group"] = "Unknown"  # 기본값을 올바르게 입력하세요.

In [ ]:
# 3. loc을 사용하여 조건에 맞는 행의 'Age_Group' 값을 변경
# 나이가 10세 이하인 승객의 'Age_Group' 값을 "Child"로 변경
df.loc[df["Age"] <= 10, "Age_Group"] = "Child"

# 나이가 11세 이상 19세 이하인 승객의 'Age_Group' 값을 "Teen"으로 변경
df.loc[(df["Age"] >= 11) & (df["Age"] <= 19), "Age_Group"] = "Teen"

# 나이가 20세 이상 39세 이하인 승객의 'Age_Group' 값을 "Adult"로 변경
df.loc[(df["Age"] >= 20) & (df["Age"] <= 39), "Age_Group"] = "Adult"

# 나이가 40세 이상인 승객의 'Age_Group' 값을 "Senior"로 변경
df.loc[df["Age"] >= 40, "Age_Group"] = "Senior"

In [ ]:
# 4. 'Child' 연령대 승객만 필터링하여 출력
# 'Age_Group' 값이 "Child"인 승객만 선택
child_passengers = df[df["Age_Group"] == "Child"]

# 주요 정보 (이름, 나이, 연령대)만 출력
print(child_passengers[['Name', "Age", "Age_Group"]])  # 컬럼명을 올바르게 입력하세요.

                                         Name   Age Age_Group
7              Palsson, Master. Gosta Leonard  2.00     Child
10            Sandstrom, Miss. Marguerite Rut  4.00     Child
16                       Rice, Master. Eugene  2.00     Child
24              Palsson, Miss. Torborg Danira  8.00     Child
43   Laroche, Miss. Simonne Marie Anne Andree  3.00     Child
..                                        ...   ...       ...
827                     Mallet, Master. Andre  1.00     Child
831           Richards, Master. George Sibley  0.83     Child
850   Andersson, Master. Sigvard Harald Elias  4.00     Child
852                   Boulos, Miss. Nourelain  9.00     Child
869           Johnson, Master. Harold Theodor  4.00     Child

[64 rows x 3 columns]